@charset "utf-8";

/* CSS Document */

@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");

/*首頁*/

body {
    color: #333;
    font-family: Verdana, Noto Sans CJK TC !important;
    font-size: 1.5rem;
    background-size: cover;
    background-color: #fff;
    background: url(../img/index.jpg) no-repeat top center;
    overflow-x: hidden;
}

.body2 {
    background: url(../img/inside.jpg) no-repeat top center;
    overflow-x: hidden;
    height: 1170px;
}

.width1500 {
    position: relative;
    z-index: 9;
    width: 1200px;
    margin-top: 410px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 800px;
}

h1 {
    position: absolute;
    left: 0px;
    width: 1213px;
    height: 415px;
    top: 0px
}

h1 .shine_logo {
    position: absolute;
    width: 1213px;
    height: 415px;
    left: 10%;
    top: 0px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.3));
}

h1 .shine_logo2 {
    position: absolute;
    left: 120px;
    top: 0;
    width: 1213px;
    height: 415px;
    background: url(../img/Gradient.svg) no-repeat 0 0px;
    -webkit-mask: url(../img/logo.svg) no-repeat 0 0;
    mask: url(../img/logo.svg) no-repeat 0 0;
    animation: shine_logo 4.5s ease infinite;
    z-index: 9;
}

@keyframes shine_logo {
    0% {
        background: url(../img/Gradient.svg) no-repeat -600px -50px;
    }
    100% {
        background: url(../img/Gradient.svg) no-repeat 1213px -50px;
    }
}