@charset "utf-8";

/* CSS Document */

@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");

/*首頁*/

body {
    color: #333;
    font-family: Verdana, Noto Sans CJK TC !important;
    font-size: 1.5rem;
    background-size: cover;
    background-color: #fff;
    display: grid;
}

.body2 {
    background: url(../img/inside.jpg) no-repeat top center;
    overflow-x: hidden;
    height: 1170px;
}

.index_bg {
    background: url(../img/index.jpg) no-repeat top center;
    background-size: cover;
    padding-top: 60%;
    width: 100%;
    grid-area: 1/-1;
    position: absolute;
}

.width67per {
    position: relative;
    z-index: 9;
    max-width: 67%;
    margin-top: 20%;
    display: grid;
    align-items: center;
}

.shine_logo {
    width: 100%;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.3));
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
}

.shine_logo2 {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    position: relative;
    background-size: cover;
    background: url(../img/Gradient.svg) no-repeat 0 0px;
    -webkit-mask: url(../img/logo.svg) no-repeat center / cover;
    mask: url(../img/logo.svg) no-repeat center / cover;
    animation: shine_logo 4.5s ease infinite;
    z-index: 9;
}

@keyframes shine_logo {
    0% {
        background: url(../img/Gradient.svg) no-repeat -6% -50px;
    }
    100% {
        background: url(../img/Gradient.svg) no-repeat 200% -50px;
    }
}